<h2>Detalles del producto</h2>

<!-- Si no existen productos =>  -->
<div *ngIf="!producto">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>

<!-- En caso de existir => -->
<div *ngIf="producto">
    <div class="contenedor-detalles">
        <div class="card mb-3" style="width: 1024px; min-height: 50vh;">
            <div class="row no-gutters">
            <div class="col-md-4">
                <div *ngIf="producto.imagen" id="img-prod">
                    <img src="http://angularcurso:81/uploads/{{producto.imagen}}" style="width: 100%; height: 500px;"/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">Producto: {{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
                <p class="card-text">Precio: {{producto.precio}}$</p>
                <p class="card-text"><small class="text-muted">*Sujeto a disponibilidad</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="btn">
        <a href="http://localhost:4200/productos">
            <button type="submit" class="btn btn-success">Volver a los productos</button>
        </a>
</div>

