<!-- HEADER Y NAVBAR 
     SE CARGAN EN TODAS LAS PÁGINAS -->
<header id="header" role="banner">
  <div class="header-content">  
    <nav class="navbar">
        <div class="logo">
         <div>N I C O</div>
      </div>
      <div class="nav-menu">
          <ul id="menu">
              <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']"> Inicio </a></li>
              <li><a [routerLink]="['/productos']" [routerLinkActive]="['activado']"> Productos </a></li>
              <li><a [routerLink]="['/addproducto']" [routerLinkActive]="['activado']"> Crear producto </a></li>
          </ul>
      </div>
    </nav>
  </div>
</header>

<section id="main">
          <!--COMPONENTE ACTUAL ANGULAR-->
          <router-outlet></router-outlet>
</section> 

<!-- FOOTER PARA TODAS LAS PÁGINAS -->
<footer class='footer'>
  <div>NICOLAS AYALA - CURSO ANGULAR</div> 
</footer>
