h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1.5rem 0;
}
.producto-form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.producto-form label {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

#form-producto {
    border: 2px solid #000;
    padding: 3rem;
}

.form-error {
    color: red;
    font-weight: bold;
    display: block;
}