<h2> Crear nuevo producto </h2>

<!-- Formulario productos -->
<div class="producto-form">
    <form #formProducto="ngForm" class="col-lg-6" id="form-producto" (ngSubmit)="onSubmit()">

        <label> Nombre
            <span class="badge badge-pill badge-danger" *ngIf="!nombre.valid && nombre.touched"> Este campo es obligatorio </span>
        </label>
        <!-- Propiedad ngModel para modificar valores del objeto Producto -->
        <input type="text" class="form-control" placeholder="Nombre del producto" 
        name="nombre" #nombre="ngModel" [(ngModel)]="producto.nombre" required>
        

        <label> Descripción 
            <span class="badge badge-pill badge-danger" *ngIf="!descripcion.valid && descripcion.touched"> Este campo es obligatorio </span> </label>
        <textarea class="form-control" placeholder="Descripcion del producto"
        name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion" required></textarea>

        <label> Precio
            <span class="badge badge-pill badge-danger" *ngIf="!precio.valid && precio.touched"> Este campo es obligatorio y solo acepta numeros </span>  </label>
        <input type="text" class="form-control" placeholder="Precio del producto"
        name="precio" #precio="ngModel" [(ngModel)]="producto.precio" required pattern="[0-9]+">

        <label> Imagen </label>
        <input type="file" class="form-control"
        name="imagen" #imagen="ngModel" [(ngModel)]="imagen.nombre" (change)="fileChangeEvent($event)">
        <br>
        <input type="submit" value="Crear producto" class="btn btn-success" [disabled]="!formProducto.form.valid">

    </form>
</div>