<h2> {{titulo}} </h2>

<div class="contenedor-productos">
    <div *ngIf="!productos">
        <p> Cargando listado de productos..</p>
</div>

    <div *ngIf="productos">
        <div class="row row-cols-1 row-cols-md-3">
            <!-- Recorre los productos para listar individualmente -->
            <div class="col mb-4" *ngFor="let producto of productos" id="tarjetas">
                <div class="card"> 
                    <div *ngIf="producto.imagen" class="img-prod">
                        <img src="http://angularcurso:81/uploads/{{producto.imagen}}" />
                    </div>
                    <div class="card-body">
                        <strong>{{producto.nombre}}</strong>
                        <p>Precio: {{producto.precio}}$</p>
                        <div class="botones-productos">
                            <a [routerLink]="['/producto', producto.id]" class="btn btn-outline-info"> Ver </a>
                            <a (click)="borrarConfirm(producto.id)" class="btn btn-outline-danger"> Borrar producto </a>
                            <br>
                            <br>
                            <!-- HTML de confirmacion -->
                            <div class="confirm" *ngIf="confirmado == producto.id">
                                <strong>¿Estás seguro que quieres borrar este producto?</strong> <br>
                                <br>
                                <a (click)="onDeleteProducto(producto.id)" class="btn btn-warning">Borrar</a>
                                <a href="http://localhost:4200/productos" class="btn btn-light"> Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
