.contenedor {
    width: 100%;
    margin: auto;
}

.contenedor .tittle {
    font-size: 50px;
    text-align: center;
    padding: 1em;
}

.contenedor .descripcion {
    font-size: 28px;
    text-align: center;
}

.portada {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .60) 100%, rgba(0, 0, 0, .100) 100%), url(src\img\back-home.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    padding: 14em 0;
    border: 1px solid black;
}

.portada .tittle {
    color: white;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase; 
    letter-spacing: 5px; 
}

.portada .descripcion {
    color: #FFF;
    text-decoration: none;
    font-family: 'Tenali Ramakrishna', sans-serif;    
}

.portada p::selection {
  background-color: #FFF;
  color: red;
}

