<!-- HOME COMPONENT -->
<div class="contenedor"> 
        <div class="portada"> 
            <p class="tittle">Página principal</p>
            <p class="descripcion"> Proyecto: Angular 10 <br>
             Single-page application de productos  </p> 
        </div>
</div>
